.services {
    display: flex;
    width: 100%;
    align-items:center;
    justify-content: space-evenly;
    background-color: rgb(247, 239, 255);
    text-align: left;
    margin-bottom: 30px;
}

.totalBudget {
    text-align: right;
    margin-right:5%;
}